@model Billeterie_Web.ViewModel.Eventby3;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.list)
        {
            <tr>
                <td>
                    <div>@item.EventName.</div>
                </td>
                <td>
                    <div>@item.LocationName</div>
                </td>
                <td>
                    <div>@item.DateEvent</div>
                </td>      
            </tr>
        }
    </tbody>
</table>
       @{ 
           int prev = Model.offset - 3;
           int next = Model.offset + 3;

           if (Model.offset != 0) {<span> @Html.ActionLink("Previous", "Index", new { offset = prev })&nbsp;|&nbsp;</span>}<span> @Html.ActionLink("Next", "Index", new { offset = next })</span>
        }