@model Billeterie_Web.ViewModel.Eventby3;

@{
    ViewData["Title"] = "Index";
}

<h1>Event List</h1>

<br />
<br />
<br />

<div class="container">
    @foreach (var item in Model.list)
    {
        <div>
            <div class="row" style="text-align:center;margin-bottom:2px; border:1px solid black"></div>
            <div class="col-md-12" style="font-weight:bold;font-size:22px">@item.EventName</div>
        </div>
        <br />
        <div class="row" style=" margin: 1px;padding: 1px;height: 350px;">
            <div class="col-md-4" style="width:450px;"> <img src=@item.ArtistPhoto></div>
            <div class="col-md-4" style="width:150px; text-align:center;">@item.LocationName<br /><br />@item.DateEvent</div>
            <div class="col-md-4" style="width:150px;"><button class="btn btn-primary">Booking</button></div>
        </div>

    }



    @{      
        if (Model.offset != 0)
        {<span> @Html.ActionLink("Previous", "Index", new { offset = Model.offset - 3 })&nbsp;|&nbsp;</span>}<span> @Html.ActionLink("Next", "Index", new { offset = Model.offset + 3 })</span>
    }
</div>